body {
    background-color: #f4f7f8;
}

a {
    text-decoration: none;
}

.my-navbar {
    align-items: center;
    background: #333;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
}

.my-navbar-title {
    font-size: 30px;
}

.my-navbar-title,
.my-navbar-item,
.item {
    color: #8c8c8c;
}

.my-navbar-title:hover,
.item:hover {
    color: #ffffff;
}

.container .tweets{
    margin: 3em 15em;
    background: #dcefff;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px gray;
}

.container .tweets .tweet-name {
    font-size: 1.2em;
    background: #5fb3f5;
    text-align: left;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 10px;
}

.container .tweet-text {
    padding: 15px;
}

.container .tweets p {
    margin: 0;
}